.header{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    transition: 0.3s;
}

.search{
  width: 5%;
  height: auto;
}
.logo a{
  display: block;
}

.logo a img{
  display: block;
  width: 170%;
  object-fit: contain;
}

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.menu{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.menu li{
  list-style-type: none;
}

.menu li a{
  display: block;
  padding: 25px 25px 10px 50px;
  line-height: 1;
  transform: 0.5s;
  color: rgb(114, 114, 114);
  font-weight: 500;
  text-decoration: none;
}

.menu li a:hover{
  color: black;
}
#search{
  color: rgb(46, 179, 255)
}

#search:hover{
  color: black
}


.hamburger{
  position: relative;
  width: 30px;
  height: 4px;
  background: black;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after{
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background-color: black;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger::before{
  top: -10px;
  width: 30px
}

.hamburger::after{
  top: 10px;
  width: 30px
}

.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu{
  display: none;
}

.navigation input:checked ~ .hamburger{
 background: transparent;
}

.navigation input:checked ~ .hamburger::before{
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .hamburger::after{
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.navigation input:checked ~ .menu{
  right: 0;
}

.container {
  position: relative;
  text-align: center;
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.center h5 {
  font-weight: 400;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-item img {
  height: 300px;
  width: auto;
  
}

.centered h4 {
  font-weight: 400;
}

.centered button {
  color: white;
  background-color: rgb(34, 148, 255);
  border: none;
  padding: 3px 15px;
  font-size: 14px;
  margin-top: 10px;
}


body {
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.grid img {
 
  object-fit: contain;
}
#features {
  padding: 0px 100px 50px 100px;
  text-align: center;
}

.grid2 img {
 width: 100%;
  object-fit: contain;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.grid2 div {
  display: flex;
}

.benefits-desc {
  display: flex;
  flex-direction: column;
}


#benefits {
  padding: 0px 100px 50px 100px;
  text-align: center;
}

#collections {
  padding: 0px 100px 50px 100px;
  text-align: center;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid3 img {
  width: 100%;
  object-fit: contain;
}

#navbar2 {
    padding: 20px 0px;
    margin-bottom: -40px;
  }
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid4 img {
  width: 100%;
  justify-self: center;
  object-fit: contain;
}

#users {
  padding: 50px 100px;
  text-align: center;
  background-color: rgb(241, 241, 241);
}

#users h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

#users p {
  margin-top: 30px;
}

#tag {
  padding: 80px 0px;
  text-align: center;
}

#tag h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

#tag input {
  width: 315px;
  margin-bottom: 25px;
}

#tag input::placeholder {
  font-size: 14px;
}

#tag button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: rgb(34, 148, 255);
  border: none;
  padding: 5px 15px;
  font-size: 14px;
}
#platforms {
  padding: 100px 100px;
  text-align: center;
  background-color: rgb(241, 241, 241);
}

#platforms h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid5 img {
  justify-self: center;
  object-fit: contain;
}

#footer1 {
  background-color: rgb(40, 44, 48);
  text-align: center;
  padding: 10px 0px;
}

.footer-links {
  border-right: 1px solid rgb(148, 148, 148);
  padding: 0px 5px;
  font-size: 14px;
}

.footer-links:hover {
  text-decoration: none;
}

.social-icons {
  max-width: 4%;
  height: auto;
}

#footer2 {
  background-color: black;
  padding: 10px 0px;
  text-align: center;
  font-weight: 500;
}

#copyright {
  padding-right: 5px;
  color: rgb(94, 94, 94);
  font-size: 14px;
}

.footer2-links {
  padding: 0px 5px;
  font-size: 14px;
  color: rgb(94, 94, 94);
}

.footer2-links:hover {
  text-decoration: none;
  color: rgb(134, 134, 134);
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.share {
  max-width: 7%;
}

.embed {
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  padding: 5px 0px;
  margin-top: 15px;
}

#discoveries h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

#discoveries {
  padding: 50px 100px;
  text-align: center;
}
.grid0 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.grid0 img {
  width: 100%;
  object-fit: contain;
}

#discovery-desc {
  margin-top: 30px;
}

#features h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

.benefits-images {
  margin-bottom: 20px;
}

.feature h5 {
  font-weight: 400;
}

.benefits-img img {
  width: 20%;
  margin-right: 10px;
  margin-top: -40px;
  object-fit: contain;
}

.benefits-desc h5 {
  font-weight: 400;
}

#benefits h4 {
  margin-bottom: 30px;
  font-weight: 400;
}

#collections h4 {
  margin-bottom: 30px;
  font-weight: 400;
}

#collections p {
  margin-top: 30px;
}

.centered p {
  display: none;
}

#users h4 {
  font-weight: 400;
}




@media screen and (min-width: 620px) {
  .carousel-item img {
    height: 370px;
    width: auto;
  }
  .centered p {
    display: block;
  }
  .benefits-img img {
    width: 15%;
    height: auto;
    margin-right: 10px;
    margin-top: -30px;
    object-fit: contain;
  }
 
  
}



@media screen and (min-width: 960px) {
    #menuToggle input:checked ~ ul {
  transform: none;
}
   
    .carousel-item img {
        height: 450px;
        width: auto;
      }
    .centered h4{
        font-size: 2em !important;
        margin-bottom: 20px;
    }
    .centered p{
        font-size: 1.1em !important;
    }
    .centered button {
        
        padding: 5px 25px;
        font-size: 18px;
        margin-top: 15px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        
    }
    .grid0{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        
    }
    .grid2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px; 
    }
    .benefits-img img {
        width: 10%;
        margin-right: 40px;
        margin-top: -20px;
        object-fit: contain;
      }
    #benefits {
        padding: 0px 250px 50px 250px;
        text-align: center;
      }
      .benefits-desc h5 {
      
        text-align: left;
      }
      .benefits-desc p{  
        text-align: left;
        font-size: 0.8em !important;
      }
      .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; 
    }
    .grid4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 100px; 
    }
    #tag button{
        display: inline-block;
        
    }
    #tag input{
        width: 400px;
      
    }       
    .grid5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px; 
    }
    .grid5 img{
       
        object-fit: contain;
    }
    #footer1 a img{
        width: 2% !important;
        object-fit: contain;
    }
    
 
    }
    

@media screen and (max-width: 960px) {
      .logo a img{
        display: block;
        width: 60%;
        object-fit: contain;
      }
      
      .hamburger,
    .toggle-menu{
      display: block;
    }
    .menu{
      justify-content: start;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
       right: -225px;
       background-color: rgb(207, 207, 207);
       width: 225px ;
       height: 480px;
       padding-top: 65px;
    
    }
    .menu li{
      width: 100%;
    }
    
    .menu li a{
      padding: 20px;
      font-size: 20px;
      text-decoration: none;
      color: rgb(46, 179, 255)
    }
    .header{
      padding: 10px 20px;
    }
    .search{
      display: none;
    }
    #search{
      color: rgb(46, 179, 255)
    }
}


@media screen and (min-width: 1200px) {
    #logo {
        width: 14%;
        height: auto;
        margin-left: 20px;
      }
    .carousel-item img {
        height: 500px;
        width: auto;
      }
    .centered h4{
        font-size: 2.5em !important;
    }
    .grid5 img{
        width: 50%;
        object-fit: contain;
    }
    #footer1 a img{
        width: 1.3% !important;
        object-fit: contain;
    }
    .grid4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 150px; 
    }
    .grid3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px; 
    }
    .grid2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px; 
    }
    .benefits-img img {
        width: 10%;
        height: auto;
        margin-right: 50px;
        margin-top: -10px;
        object-fit: contain;
      }
      #benefits {
        padding: 0px 300px 50px 350px !important;
        text-align: center;
      }
      .search{
        width: 3%;
        height: auto;
      }
}

@media screen and (max-width: 465px){
  .benefits-img img {
    width: 30%;
    height: 30%;
    object-fit: contain;
    margin-top: 30px;
  }
  .grid4 img {
    width: 150% !important;
    justify-self: center;
    object-fit: contain;
  }
  .grid4{
  column-gap:70px;
  }
}


@media screen and (max-width: 960px) and (min-width:850px){
  .benefits-img img {
    width: 7%;
    object-fit: contain;
    margin-top: 0px;
  }

  
  
}
